# Логирование: DEBUG, INFO, WARNING, ERROR
LOG_LEVEL=INFO

# Порт, на котором будет слушать сервис
PORT=8000

# Пути к модели и препроцессору (опционально, по умолчанию используются относительные пути)
MODEL_PATH=artifacts/churn_model_final.joblib
PREPROCESSOR_PATH=artifacts/preprocessor.joblib